/*GENERAL SETTINGS*/
@font-face {
	font-family: Gidoli;
	src: url("../fonts/GidoleFont/Gidole-Regular.ttf");
}

* {
	font-family: Gidoli;
	color: #252323;
}

body {
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}