/*General settings and fonts*/
@font-face {
	font-family: Gidoli;
	src: url("../fonts/GidoleFont/Gidole-Regular.ttf");
}

@font-face {
	font-family: Jaapokki;
	src: url("../fonts/Jaapokki/Regular/web/jaapokki-regular.ttf");
}

@font-face {
	font-family: Jaapokki-Enhanced;
	src: url("../fonts/Jaapokki/enchance/web/jaapokkienchance-regular.ttf");
}

* {
	font-family: Gidoli;
	color: #252323;
}

body {
	background: url('../img/background_pape_2.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	overflow: hidden;
}


/*setup main container*/

#main_container {
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 0;
	background-color: #F5F1ED;
	height: 100%;
	max-width: 65%;
	min-width: 800px;
}

/*Title*/
#title {
	margin-top: 10px;
	text-align: center;
	font-family: Jaapokki;
	font-size: 50px;
}

#font-enhance {
	font-family: Jaapokki-Enhanced;
}

/*header container*/
#header_container {
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #DAD2BC;
	font-size: 30px;
	margin-top: -40px;
}

#text_container {
	margin-top: 2px;
	margin-left: 5px;
}

#crops {
	margin-left: 10%;
}

/*crops*/
#crops:hover {
	border-bottom: 3px solid #D7263D;
	cursor: pointer;
}

/*lab*/
#lab {
	margin-left: 30px;
	cursor: pointer;
}

#lab:hover {
	border-bottom: 3px solid #0496FF;
}

/*Store*/
#store {
	margin-left: 30px;
	cursor: pointer;
}

#store:hover {
	border-bottom: 3px solid #0CEE6B;
}

#pop {
	position: absolute;
	right: 10%;
}

/*Event container*/
#event_box {
	position: absolute;
	height: 40%;
	width: 87%;
	margin: 0 auto;
	margin-top: 4%;
	right: 0;
	left: 0;
	border: 3px solid #252323;
	background-image: url("../img/background_pape.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#tinter {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.6;
}

#event_content {
	position: absolute;
	height: 40%;
	width: 87%;
	margin: 0 auto;
	margin-top: 4%;
	right: 0;
	left: 0;
}

#event_title {
	position: absolute;
	margin: 0 auto;
	right: 0;
	left: 0;
	margin-top: 20px;
	width: 155px;
	font-size: 25px;
	border: 3px solid #fff;
	color: #F5F1ED;
	padding: 5px;
}